.flex-container {
    display: flex;
    justify-content: center;
    margin-left: 270px;
}

.flex-item {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: gray;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    margin: 10px;
}

.description {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    flex: 1;
}